@model List<FileInfoModel>
@{Layout = "_AdminLayout";}

@await Component.InvokeAsync("StoreScopeConfiguration")
<script type="text/javascript">

    function downloadBackupFile(fileUrl) {
        var filesplit = fileUrl.split('\\');
        var name = filesplit[filesplit.length - 1];
          $.ajax({
              type: "post",
              data: { fileUrl: fileUrl, name: name},
                url: "@Html.Raw(Url.Action("Download", "Backup"))",
              success: function (data) {
                        alert("Success to download file");
                },
              error: function (xhr, ajaxoptions, thrownerror) {
                       alert("Failed to download file");
                }
                });
    }
    function deleteBackupFile() {
          $.ajax({
                    type: "post",
                    url: "@Html.Raw(Url.Action("DeleteBackupFile", "Backup"))",
              success: function (data) {
                  alert("Success to delete file");
                    },
              error: function (xhr, ajaxoptions, thrownerror) {
                  alert("Failed to delete file");
                    }
                });
    }
</script>
<div class="content-header clearfix">
    <h1 class="float-left"> Backup List</h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="row">
            </div>
            <nop-cards id="faq-cards">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="dataTable" class="table table-striped table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="select_all" value="0" id="example-select-all"></th>
                                            <th>@Html.Raw(T("Nop.Plugin.Widgets.Backup.Fields.BackupName"))</th>
                                            <th>@Html.Raw(T("Nop.Plugin.Widgets.Backup.Fields.FileSize"))</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td><input type="checkbox" value="@item.fileUrl" id="example-select-all"></td>
                                                <td>@item.fileName</td>
                                                <td>@item.fileSize</td>
                                                <td>
                                                    @Html.ActionLink("Download", "DownloadFile", new { fileName = item.fileName })
                                                    @*<button onclick="downloadBackupFile('@item.fileUrl');" class="btn btn-info"><i class="fas fa-download"></i> @T("Plugins.Widgets.Backup.Download")</button>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </nop-cards>
        </div>
    </div>
</section>

<script>
    $('#dataTable').DataTable({
        'columnDefs': [{
            'targets': 0,
            'searchable': false,
            'orderable': false,
            'className': 'text-center',
        }],
        'order': [[1, 'asc']]
    });
</script>
